<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Generated Link</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body><center>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://321-foundation.org/">
            <img src="https://321-foundation.org/img/logo.svg">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1 style="text-align:center">321 EDUCATION FOUNDATION</h1>   
        </div>
    </div>
    <section class="section">
        <div class="container">
        <div class="form-group">
        <form action = "" method="post" >
            <div>
             <div>
		    <h1 style="color:black;font-size:35px">Generated Link</h1><br><br>
            <h1 style="color:blue;font-size:30px"><span style="color:black;font-size:30px">Send this link to the students :</span> <br>{{url}}</h1>
          </div>
          <br>
        <a href="https://api.whatsapp.com/send?text={{url}}" data-action="share/whatsapp/share">     <i class="fa fa-whatsapp" style="font-size:68px;color:green"></i><br>
		</a>
		<p style="font-size:20px;color:black">Share via WhatsApp</p>
     <div class="chartContainer">
        <canvas id="chart" height="250" width="400">
        </canvas>
    </div>
            </form>
        </div>
        </div>
    </section>
	<footer>
        <p class="text-center" style="background-color:grey;color:white">&copy; 321 EDUCATION FOUNDATION</p>
    </footer>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
    <script src="../firebaseKey.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: apiKey,
            authDomain: "cfg-team18.firebaseapp.com",
            databaseURL: "https://cfg-team18.firebaseio.com",
            projectId: "cfg-team18",
            storageBucket: "cfg-team18.appspot.com",
            messagingSenderId: "816670917444",
            appId: "1:816670917444:web:195831e13073b41536cd11"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        var firestore = firebase.firestore();

        const docRef = firestore.doc("boardID/ID");
        docRef.get().then(function(doc) {
            console.log(doc.data());
        })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="site.js"></script>
  </center></body>
</html>