<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <section class="section">
        <div class="container">
        <h2 class="title is-2">321 Education Foundation</h2>
        <h5 class="title is-5">Select the details for link generation</h5>
        <form action = "" method="post" >
            <label for="select">Select Board</label>
                <div class="select is-rounded">
                    
                    <select name="grade">
                            <option value="cbse">CBSE</option>
                            <option value="ta">TA</option>
                            <option value="mh">MH</option>
                            <option value="ka">KA</option>
                    </select>
                </div>
            </label>
            <br><br><br>

            <label for="select">Select Grade</label>
                <div class="select is-rounded">
                    
                    <select name="grade">
                            <option value="grade1">Grade 1</option>
                            <option value="grade2">Grade 2</option>
                            <option value="grade2">Grade 3</option>
                            <option value="grade2">Grade 4</option>
                            <option value="grade2">Grade 5</option>
                            
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select Subject</label>
                <div class="select is-rounded">
                    
                    <select name = 'subject'>
                            <option value="eng">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="maths">Mathematics</option>
                            <option value="evs">EVS</option>
                            <option value="gk">GK</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select Lesson</label>
                <div class="select is-rounded">
                    <select name = 'lesson'>
                        <option value="l1">Lesson 1</option>
                        <option value="l2">Lesson 2</option>
                        <option value="l3">Lesson 3</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select High Tech or Low Tech</label>
                <div class="select is-rounded">
                    
                    <select name = 'tech'>
                            <option value="ht">High Tech</option>
                            <option value="lt">Low Tech</option>
                    </select>
                </div>
            </label>

            <br><br><br>
            <button class="button is-info is-rounded" type="submit">Click here to generate a link</button>
        </form>
        </div>
    </section>
  </body>
</html>