<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <section class="section">
        <div class="container">
        <div class="columns is-centered">
        <form action = "" method="post" >
            <h3 class="title is-3">321 Education Foundation</h3>
            <h5 class="title is-5">Fill the details</h5>

            <label for="select">Board</label>
                <div class="select is-rounded">
                    <select name="board" required="true">
                            <option value="">Select</option>
                            <option value="cbse">CBSE</option>
                            <option value="ta">Telangana State Board</option>
                            <option value="mh">Maharashtra State Board</option>
                            <option value="ka">Karnataka State Board</option>
                    </select>
                </div>
            </label>
            <br><br><br>

            <label for="select">Grade</label>
                <div class="select is-rounded">
                    
                    <select name="grade" required>
                            <option value="">Select</option>
                            <option value="grade1">Grade 1</option>
                            <option value="grade2">Grade 2</option>
                            <option value="grade3">Grade 3</option>
                            
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Subject</label>
                <div class="select is-rounded">
                    
                    <select name = 'subject' required>
                            <option value="">Select</option>
                            <option value="eng">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="maths">Mathematics</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Lesson</label>
                <div class="select is-rounded">
                    <select name = 'lesson' required>
                        <option value="">Select</option>
                        <option value="l1">Lesson 1</option>
                        <option value="l2">Lesson 2</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">High Tech or Low Tech</label>
                <div class="select is-rounded">
                    
                    <select name = 'tech' required>
                            <option value="">Select</option>
                            <option value="ht">High Tech</option>
                            <option value="lt">Low Tech</option>
                    </select>
                </div>
            </label>

            <br><br><br>
            <input value="Click here to generate a link" type="submit"></input>
        </form>
        </div>
        </div>
    </section>
  </body>
</html>