<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
        <div class="container">
        <form action = "" method="post" >
            <label for="select">Select Grade</label>
                <div class="select is-rounded">
                    
                    <select name="grade">
                            <option value="grade1">Grade 1</option>
                            <option value="grade2">Grade 2</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select Subject</label>
                <div class="select is-rounded">
                    
                    <select name = 'subject'>
                            <option value="eng">English</option>
                            <option value="maths">Mathematics</option>
                            <option value="evm">EVM</option>

                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select Lesson</label>
                <div class="select is-rounded">
                    <select name = 'lesson'>
                        <option value="l1">Lesson 1</option>
                        <option value="l2">Lesson 2</option>
                        <option value="l3">Lesson 3</option>
                    </select>
                </div>
            </label>
            <br><br><br>
            <label for="select">Select High Tech or Low Tech</label>
                <div class="select is-rounded">
                    
                    <select name = 'tech'>
                            <option value="ht">High Tech</option>
                            <option value="lt">Low Tech</option>
                    </select>
                </div>
            </label>

            <br><br><br>
            <button class="button is-primary" type="submit">Click here to generate a link</button>
        </form>
        </div>
    </section>
  </body>
</html>